
html {
  background-color: #27333f 
}


.main {
  width: 600px;
  margin: 0 auto;
  background-color: #5d8397;
  padding: 0 20px 20px 20px;
  border: 5px solid #8ba26e;
  font-family: 'Playfair Display', serif;
}

h1 {
    color: #5f2225;
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px #a5757d;
    text-align: center;
}

p1, p3, p4 {
    color: #5f2225; 
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    width: 500px;
  }

  img { 
    width: 600px;
    display: block;
    margin: 0 auto
  }

  h2 { color: #5f2225;
    font-size: 20px;
  }

  p2 {
    color: #5f2225; 
    font-size: 16px;
    font-style: italic;
    line-height: 2;
    letter-spacing: 1px;
    width: 200px;
  
 }

ul {
  color: #5f2225; 
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  width: 500px;
}

h3{
  color:#8ba26e
  font-size: 20px;
  text-align: center;
 }

 #TestId {
  color:beige;
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
 }

 .footer {
  color: grey;
  text-align: right;
 }





