
h1 {
    color: DarkSeaGreen;
    font-size: 60px;
    margin: 0;
    text-shadow: 3px 3px 1px rgb(172, 244, 91);
    text-align: center;
}

p1 {
    color: Olive; 
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    width: 500px;
  }

  img { 
    width: 400px;
    display: block;
    margin: 0 auto
  }

  h2 { color:olivedrab;
    font-size: 20px;
    text-shadow: 3px 3px 1px rgb(172, 244, 91);
  }

  p2 {
    color: Olive; 
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    width: 200px;
  
 }

 p3 { 
    color: Olive; 
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    width: 500px;
}

p3 { 
  color: Olive; 
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  width: 500px;
}

ul {
  color: Olive; 
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  width: 500px;
}

p4 {
  color: Olive; 
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  width: 500px;
}

h3{
  color:olivedrab;
  font-size: 20px;
  text-shadow: 3px 3px 1px 
  color:rgb(172, 244, 91);
}

html {
  background-color: #FCF5FF
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #F5FFE8;
  padding: 0 20px 20px 20px;
  border: 20px solid #799B50;
}